@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'Poppins';
}

header {
    background-color: #fff;
    padding: 10px;
}

nav {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav h1 {
    text-transform: uppercase;
    line-height: 1em;
}

nav h1 div:first-child {
    font-weight: 800;
    letter-spacing: 2px;
}

nav h1 div:last-child {
    font-weight: 400;
}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 30px;
}

main div {
    overflow: hidden;
    background-color: #fff;
    border-radius: 16px;
    border: 16px solid #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

main img {
    min-width: 100%;
    height: 100%;
}

main .short {
    grid-row: span 1;
}

main .tall {
    grid-row: span 2;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 960px) {
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 960px) {
    main {
        grid-template-columns: 1fr;
        max-width: 40px;
        margin-top: 20px;
    }
    nav {
        grid-template-columns: repeat(4, 1fr);
    }
    nav h1 {
        grid-column: 1 / span 4;
        grid-row: 1; 
    }
}

body {
    margin: 20px;
    background-color: #d1ded1;
}

h1, h2, h3 {
    color: #767f7e;
}

p {
    color: #828b8a;
}

header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}

.grid-container {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 10px auto;
}

article.featured {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px;
}

article img, article.featured img {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 8px;
}

article p, .article h3 {
    margin: 20px 10px;
    
}